body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Helvetica", sans-serif;
}

.header,
.media,
.footer {
    background-color: #1F2937;
    display: flex;
    color: #F9FAF8;
}

.header {
    justify-content: space-between;
    padding: 18px 200px;
}

.logo {
    font-size: 24px;
    font-weight: bold
}

a {
    font-size: 18px;
}
ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
    align-items: center;
}

.media {
    margin: 0;
    padding: 90px 200px;
    gap: 100px;
    justify-content: space-between;
}

.media-left,
.media-right {
    display: flex;
}

.media-left {
    gap: 8px;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    max-width: 450px;
    flex-grow: 0
}

.media-left .title {
    font-size: 48px;
    font-weight: bolder;
}

.media-left .text{
    font-size: 18px;
}

.signup-blue,
.signup-white {
    padding: 8px 28px;
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    max-height: 32px;
    min-width: 105px;
}

.signup-blue {
    background-color: #3882f6;
    color: white;
}

.media-right {
    max-width: 50%;
}

img {
    width: 100%;
    height: auto;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 10px 200px 90px 200px
}

.information .title {
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 32px
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    gap: 8px;
}

.info .text {
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 90px 200px;
    background-color: #E5E7EB;
    height: 25vh;
    justify-content: space-between;
}

.quote .text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.signature {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.action {
    display: flex;
    background-color: #3882f6;
    margin: 90px 200px;
    padding: 60px 90px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;

}

.wrapper {
    display: flex;
    flex-direction: column;
    color: white;
}

.wrapper .title {
    font-size: 24px;
    font-weight: bold;
}

.signup-white {
    background-color: white;
    color: #3882f6;
}

.footer {
    padding: 30px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}